extend _basepage.pug

block link
  link(rel="stylesheet" href=`/css/themes/${theme}/theme.css`)
  link(rel="stylesheet" href=`/css/themes/${theme}/colpreview.css`)
  link(rel="stylesheet" href=`/css/navbar.css`)

block content
  .row
    .col-12.col-md-3
      ul.nav.nav-pills.flex-column
        each title, id in tabs
          li.nav-item
            if id === "colors"
              button.nav-link.active(data-bs-toggle="tab" data-bs-target=`#page-${id}`)= title
            else
              button.nav-link(data-bs-toggle="tab" data-bs-target=`#page-${id}`)= title
    
    .col-12.col-md-8.col-lg-9.mt-4.mt-md-0.tab-content

      h1 #{themeName}
      hr

      .tab-pane#page-typography

      .tab-pane.active#page-colors

        h2 Main colors
        p These are the base colors:

        .row
          .col-md-4
            .p-3.mb-3.bg-primary.text-black Primary
          .col-md-4
            .p-3.mb-3.bg-secondary.text-black Secondary
          .col-md-4
            .p-3.mb-3.bg-success.text-black Success
          .col-md-4
            .p-3.mb-3.bg-danger.text-black Danger
          .col-md-4
            .p-3.mb-3.bg-warning.text-black Warning
          .col-md-4
            .p-3.mb-3.bg-info.text-white Info
          .col-md-4
            .p-3.mb-3.bg-light.text-black Light
          .col-md-4
            .p-3.mb-3.bg-dark.text-white Dark

        h2 All colors
        p Here is the full color pallette:
        .row
          each color in themeColors
            .col-md-4.mb-3
              .p-3.mb-2(class=`preview-${color}-500`)
              
                if color === "gray"
                  strong.d-block $gray-500
                else
                  strong.d-block $#{color}

                span(class=`preview-hex-${color}-500`)

              each number in [100, 200, 300, 400, 500, 600, 700, 800, 900]
                .p-3(class=`preview-${color}-${number}`) $#{color}-#{number}
          
          .col-md-4.mb-3
            .p-3.mb-2.preview-black
              strong.d-block $black
              span(class=`preview-hex-black`)
            .p-3.mb-2.preview-white.border
              strong.d-block $white
              span(class=`preview-hex-white`)

      .tab-pane#page-accordion

      .tab-pane#page-alerts

      .tab-pane#page-badge

      .tab-pane#page-breadcrumb

      .tab-pane#page-buttons

      .tab-pane#page-card

      .tab-pane#page-carousel

      .tab-pane#page-close-button

      .tab-pane#page-collapse

      .tab-pane#page-dropdowns

      .tab-pane#page-listgroup

      .tab-pane#page-modal

      .tab-pane#page-nav-tab

      .tab-pane#page-navbar

      .tab-pane#page-offcanvas

      .tab-pane#page-pagination

      .tab-pane#page-popovers

      .tab-pane#page-progress

      .tab-pane#page-spinners

      .tab-pane#page-toasts

      .tab-pane#page-tooltips
